<div class="container">
  <div class="well">
    <h1>Ocorrência de zumbis</h1>
  </div>
  <!-- Formulário -->
  <form class="form" name="formZumbi">
      <input type="text" name="id" ng-model="ocorrencia.id" hidden="hidden">
      <div class="form-group">
        <label>Cep</label>
        <input ng-blur type="text" name="cep" ng-cep-validator value="" ng-pattern="/^[0-9]{5}-[0-9]{3}$/" ng-model="ocorrencia.cep" class="form-control">
      </div>
      <div class="form-group">
        <label>Bairro</label>
        <input ng-blur type="text" name="bairro" ng-minlength="4" value="" ng-model="ocorrencia.bairro" class="form-control">
      </div>
      <div class="form-group">
        <label>Número de ocorrências</label>
        <input ng-blur type="text" required value="" ng-model="ocorrencia.numero" class="form-control">
      </div>
      <ng-zumbi-submit submit="adiciona(ocorrencia)"></ng-zumbi-submit>
  </form>
  <!-- Tabela de coisa-->
  <table name="tableCtrl" class="table" ng-if="ocorrencias.length > 0"> <!--Testa se existem ocorrencias -->
    <thead>
      <th>Id</th>
      <th>CEP</th>
      <th>Bairro</th>
      <th>Ocorrências</th>
      <th>Ações</th>
    </thead>
    <tbody>
      <tr ng-repeat="ocorrencia in ocorrencias"> <!-- Percorre as ocorrencias -->
        <td>{{ocorrencia.id}}</td>
        <td>{{ocorrencia.cep}}</td>
        <td>{{ocorrencia.bairro}}</td>
        <td>{{ocorrencia.numero}}</td>
        <td>
          <button type="button" name="remove" ng-click="editar(ocorrencia)" class="btn btn-info">Editar</button>
          <button type="button" name="remove" ng-click="remove(ocorrencia)" class="btn btn-danger">Remover</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
